@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
	font-family: 'Roboto', sans-serif;
}
html{
	display: flex;
}
body{
	background: #000b27;
}
nav{
	margin: 0;
	padding: 0;
	background-color: #000b27;
	height: 50px;
	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
nav ul{
	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
	flex-direction: row;

}
nav ul li{
	display: flex;
	flex-direction: row;
}
nav ul li a{
	padding: 6px 26px;
    text-decoration: none;
    color: #000000;
    margin: 8px 12px;
    background: white;
    font-size: 18px;
    font-weight: 800; 
}
nav ul li a:hover{
	background: #fcce02;
}

section > div > img{
	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	width: 100%;
    height: 100%;
 	}
section.Achieve{
	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	flex-direction: column;
 	background: url(Image/15-year.jpg);
 	background-size: 100%;
    background-repeat: no-repeat;
 	width: 100%;
 	height: 543px;
}
div.achieve-title{
	width:100%;
}
div.achieve-title h3{
	text-align: center;
    color: white;
    font-weight: 600;
    margin-top: 50px;
    font-size: 20px;
    text-shadow: 2px 2px #0f000087;
  }
  div.achieve-title h2{
	text-align: center;
    color: white;
    font-weight: 600;
    font-size: 27px;
    margin-top: 10px;
    text-shadow: 2px 2px #0f000087;
  }
  div.achieve-area{
  	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 95px;
    margin-left: 171px;
  }
  div.achieve-area h4{
  	color:white;
  	font-size: 32px;
  }
  div.achieve-side{
  	display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 507px;
    color: white;
    margin-block-start: -169px;
    letter-spacing: 3px;
    text-align: left;
    line-height: 45px;
  }
  section.It-services{
  	background-color: #000b27;
    width: 100%;
    height: auto;
    padding-block-end: 40px;
  }
  div.services-title{
  	line-height: 11px;
    padding-block-start: 20px;
  }
  div.services-title h2,h3{
  	text-align: center;
  	color: white;
  	font-weight: 600;
  	padding-block: 12px;
  	text-shadow: 1px 0px white;
  }
  div.services-title h3{
  	font-size: 20px;
  }
   div.services-title h2{
  	font-size: 27px;
  }
  div.first-row,div.sec-row{
  	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-block: 40px;
  }
  div.box{
  	width: 250px;
    height: 175px;
    background: white;
    padding: 12px;
    display: inline-grid;
    justify-items: center;
    border-radius: 20px;
  }
  div.box > p{
	color: black;
	font-weight: 600;
    font-size: 15px;
    text-align: center;
 }
  div.box h4{
  	text-align: center;
  }
  section.project{
  	background:url(Image/project-bg.jpg);
  	background-size: cover;
  	width: 100%;
  	height: auto;
  	padding-block-start: 35px;
    padding-block-end: 35px;
  }
  }
  div.project-title{
    text-align: center;
    line-height: 51px;
    padding-block-start: 20px;
  }
  div.project-title h2, h3{
  	color: white;
    letter-spacing: 1px;
    text-align: center;
    line-height: 40px;
    text-shadow: 1px 1px white;
  }
  div.project-content{
  	display: grid;
    grid-template-columns: auto;
    line-height: 46px;
    padding: 0px 158px 0px 158px;
  }
  div.project-content p{
  	letter-spacing: 2px;
    color: white;
    font-weight: bold;
  }
 
  div.project-title > h3{
  	color: #ffc001;
  }
  section.our-tech{
  	background:#000b27;
  	width: 100%;
  	height: auto;
  	padding-block-end: 80px;
  }
  section.our-tech ul{
  	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
  	background:#011947;
  	list-style: none;
  }
  div.tech-title{
  	color: white;
    letter-spacing: 1px;
    text-align: center;
    padding-block: 40px;
    text-shadow: 1px 1px white;
  }
  section.our-client ul li img{
  	width: 100%;
    height: auto;
  }
  section.our-client{
  	background:#000b27;
  	width: 100%;
  	height: auto;
  	padding-block-end: 80px;
  }
  section.our-client ul{
  	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
  	background:#011947;
  	list-style: none;
  }
  div.client-title{
  	color: white;
    letter-spacing: 1px;
    text-align: center;
    padding-block: 40px;
    text-shadow: 1px 1px white;
  }
  section.our-client ul li img{
  	width: 100%;
    height: auto;
  }
  section.review{
  	padding: 4rem 21rem;
    background:#000b27;
  }
  div.review-img img{
  	width: auto;
    height: auto;
  }
  div.review-text h3,p{
  	color: white;
  	text-align: justify;

  }
  div.review-title{
  	color: white;
    letter-spacing: 1px;
    text-align: center;
    padding-block: 40px;
    text-shadow: 1px 1px white;
  }
  div.review-area{
  	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    justify-items: center;
  }
  section.menu{
  	padding-block: 60px;
  }
  section.contact-us{
  	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
  	align-items: center;
  }
  div.contact-info{
  	display: flex;
    flex-direction: row;
    align-items: center;
  }
  div.contact-info img{
  	width: 50px;
    height: auto;
 	margin-inline-start: 132px;
  }
  section ul li hr{
  	border-width: 3px;
  	margin-block-start: 6px;
  }
  section div.footer-links ul li{
  	list-style: none;
    padding: 8px 8px;
  }
  section div.footer-links ul li a{
  	color: white;
  	font-size: 18px;
  	font-weight: 600;
  	text-decoration: none;
  }
  section div.footer-links ul h3{
  	color: white;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 1px 1px white;
    line-height: 12px;
    font-weight: 600;
    padding-block: 5px;
  }
  div.footer-links{
  		display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-around;

  }
  div.footer-links{
  	flex-grow: 1;
    flex-basis: 1px;
  }
  footer h5{
  	font-size: 14px;
  	font-weight: 500;
  	color: white;
  	text-align: center;
  	padding-top: 10px;
  	padding-bottom: 10px;
  }
  @media(max-width: 1024px){
  	div.achieve-side {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 294px;
    color: white;
    margin-block-start: -180px;
    letter-spacing: 2px;
    text-align: left;
    line-height: 30px;
	}
  }
  @media(max-width: 1150px){
  	div.achieve-title h2{
  		margin-top: -32px;
  	}
  	div.achieve-title h3{
  		margin-top: 0px;
  	}
  }
  @media(max-width: 900px){
  	nav{
		height: 40px;
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}
	nav ul li a {
    padding: 4px 13px;
    font-size: 16px;
    font-weight: 600;
}
  }
  @media(max-width: 768px){
  	div.project-content p {
    letter-spacing: 0px;
    color: white;
    font-weight: bold;
    font-size: 14px;
	}
	div.project-title h2, h3 {
    font-size: medium;
	}
	div.project-content{
		padding: 60px 69px;
		line-height: 30px;
	}
	section.project{
		background-size: 100%;
	}
  }
  @media (max-width: 568px){
  	nav ul li a{
  		padding: 4px 4px;
    	font-size: 14px;
    	font-weight: 500;
  	}
  }
